.App {
  background-image:
    linear-gradient(135deg, rgba(2,62,54,0.4) 0%, rgba(0,0,0,0.4) 100%),
    url("img/img-noise.png");
  font-family: 'Cormorant Garamond', serif;
}

.Map-img {
  height: 80vh;
  pointer-events: none;
  position: relative;
  display: inline-block;
}

.background {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url("img/norway-map.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80vh;
}

.seasons {
  text-align: center;
  width: 200px;
  border-right: 1px solid #118878;
}

p {
  margin: 0px;
}

.seasonName {
  font-variant: small-caps;
  font-size: 18px;
}
.seasonYear {
  padding-bottom: 25px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
